<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093656573880-pd5e6fe2cqlad6p85o5dqlsgjdl4flh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093656573880-pd5e6fe2cqlad6p85o5dqlsgjdl4flh7</string>
	<key>API_KEY</key>
	<string>AIzaSyB6lgZpq_vkvLbiCXuTOk7s_21xHAMJtFY</string>
	<key>GCM_SENDER_ID</key>
	<string>1093656573880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dr.SoundBar</string>
	<key>PROJECT_ID</key>
	<string>soundbar-3d263</string>
	<key>STORAGE_BUCKET</key>
	<string>soundbar-3d263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093656573880:ios:041d005082a6740aac814d</string>
	<key>DATABASE_URL</key>
	<string>https://soundbar-3d263.firebaseio.com</string>
</dict>
</plist>